/*
* reset
*/
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
* {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 0;
  zoom: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html,
body {
  height: 100%; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #2e5481;
  text-decoration: none; }

a:visited {
  color: #7996b7; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.3;
  margin: 0 0 22px;
  text-rendering: optimizelegibility; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

p {
  margin-bottom: 22px; }

p:last-child {
  margin-bottom: 0; }

address {
  font-size: 13px; }

ul,
ol {
  padding: 0;
  margin: 0; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

form {
  margin-bottom: 22px; }

label {
  font-weight: normal;
  margin: 0 0 3px; }

/*
* typo
*/
@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal; }

/*
* form
*/
.required {
  color: #c3293a;
  display: inline-block;
  font-size: 14px; }

.selectBox,
.form-control {
  border: 0;
  background-color: #eeeeee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  height: 30px;
  line-height: 18px !important;
  margin-bottom: 10px;
  min-height: 30px;
  padding: 8px 12px;
  -webkit-appearance: none;
  width: 100%;
  -webkit-box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 14px; }

.selectBox:hover,
.form-control:hover {
  border-color: #ccc;
  text-decoration: none; }

.selectBox.selectBox-menuShowing,
.form-control:focus {
  -webkit-box-shadow: 0 0 10px rgba(46, 84, 129, 0.3);
  -moz-box-shadow: 0 0 10px rgba(46, 84, 129, 0.3);
  box-shadow: 0 0 10px rgba(46, 84, 129, 0.3);
  border: solid 1px #839bb7;
  outline: none;
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s; }

textarea.form-control {
  height: 100px;
  max-width: 100%; }

.selectBox {
  max-width: 100%;
  width: 100% !important; }

.radio,
.checkbox {
  font-weight: normal;
  margin: 0 0 8px;
  min-height: 18px;
  padding-left: 20px; }

.new-radio,
.new-checkbox {
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  float: left;
  height: 15px;
  margin: 2px 0 0 -20px;
  position: absolute;
  width: 15px; }

.new-radio {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  height: 14px;
  width: 14px; }

.new-radio input[type="radio"],
.new-checkbox input[type="checkbox"] {
  cursor: pointer;
  height: 100%;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  vertical-align: top;
  width: 100%; }

.new-checkbox svg {
  display: none;
  height: 18px;
  margin: -3px 0 0 -2px;
  width: 18px; }

.new-checkbox svg polygon {
  fill: #1e1e1e; }

.new-checkbox.checked svg {
  display: block; }

.new-radio span {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  height: 6px;
  margin: 3px 0 0 3px;
  width: 6px; }

.new-radio.checked span {
  background: #1e1e1e; }

.new-radio.disabled,
.new-checkbox.disabled {
  opacity: .5;
  filter: alpha(opacity=50); }

.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 20px; }

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  margin-left: -20px; }

.selectBox::-webkit-scrollbar,
.selectBox-dropdown-menu::-webkit-scrollbar {
  background: #f2f2f2;
  width: 10px; }

.selectBox::-webkit-scrollbar-thumb,
.selectBox-dropdown-menu::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  background-color: #839bb7;
  width: 5px; }

.selectBox {
  background: #fff;
  cursor: pointer;
  position: relative;
  text-decoration: none; }

.selectBox:hover,
.selectBox:focus,
button {
  outline: none;
  text-decoration: none; }

.selectBox-label {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #555;
  display: block;
  padding: 0 25px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; }

.selectBox-arrow {
  background: url("../img/svg/select.svg") 50% 50% no-repeat;
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  height: 100%;
  left: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px; }

.selectBox-dropdown-menu {
  background: #fff;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 0 10px rgba(46, 84, 129, 0.3);
  -moz-box-shadow: 0 0 10px rgba(46, 84, 129, 0.3);
  box-shadow: 0 0 10px rgba(46, 84, 129, 0.3);
  border: solid 1px #839bb7;
  outline: none;
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
  color: #5f5f5f;
  font-size: 12px;
  list-style: none;
  margin: 0;
  max-height: 117px;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s; }

.selectBox-options li {
  display: block; }

.selectBox-options li a {
  color: #1e1e1e;
  cursor: pointer;
  display: block;
  line-height: 1.5;
  padding: 2px 2px 2px 16px;
  margin: 0;
  min-height: 23px;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear; }

.selectBox-options li + li a {
  border-top: 1px solid #839bb7; }

.selectBox-options li a:hover {
  background: #f2f2f2;
  color: #111;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear; }

.selectBox-options li.selectBox-selected a {
  background: #e9e9e9;
  color: #000;
  text-decoration: none; }

.selectBox-inline {
  overflow-y: auto;
  padding: 0;
  width: 100%; }

.selectBox-inline ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: default; }

fieldset[disabled] select,
fieldset[disabled] .selectBox,
fieldset[disabled] .selectBox .selectBox-label,
.selectBox.selectBox-disabled,
.selectBox.selectBox-disabled .selectBox-label {
  color: #999; }

fieldset[disabled] .selectBox .selectBox-arrow,
.selectBox.selectBox-disabled .selectBox-arrow {
  opacity: .3;
  filter: alpha(opacity=30); }

.selectBox.selectBox-disabled:focus {
  border-color: #e1e1e1;
  -webkit-box-shadow: 0 1px #fff, inset 0 1px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px #fff, inset 0 1px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px #fff, inset 0 1px 4px rgba(0, 0, 0, 0.15); }

.form-inline .control-label,
.form-inline .form-control,
.form-horizontal .form-group .form-control {
  margin-bottom: 0; }

.input-lg {
  border-radius: 4px;
  font-size: 18px;
  height: 46px;
  line-height: 1.33;
  padding-top: 10px;
  padding-bottom: 10px; }

.input-sm {
  border-radius: 2px;
  font-size: 12px;
  height: 30px;
  line-height: 1.5;
  min-height: inherit !important;
  padding-top: 5px;
  padding-bottom: 5px; }

section#forms {
  position: relative;
  padding: 0 10px; }

#forms label {
  display: block !important; }

.btn-lg, .btn-group-lg > .btn {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

/******************************************************************************
  Main
*******************************************************************************/
body {
  font-family: 'Roboto','Opens sans', sans-serif;
  height: 100%;
  line-height: 1.6;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-size: 16px; }

/*
*  header
*/
.header {
  background-color: rgba(255, 255, 255, 0.97);
  min-height: 60px;
  padding: 2px 0;
  width: 100%; }

.header .right-box {
  display: table; }

.header .right-box-wrapper {
  display: table-cell;
  height: 60px;
  vertical-align: middle; }

/* Primary Menu */
.header .primary {
  /*  float: left;*/
  z-index: 900; }

.header .primary .navbar {
  background: none;
  border: 0 none;
  margin: 0;
  min-height: 44px; }

.header .primary .navbar .navbar-collapse {
  padding: 0;
  position: relative; }

.header .primary .navbar .nav {
  margin: 0;
  position: relative; }

.header .primary .navbar .nav > li {
  padding: 3px 4px 0;
  position: relative; }

.header .primary .navbar .nav > li > a,
.header .primary .navbar .nav > li > a:visited {
  background: none;
  border: 1px solid #fff;
  border: 1px solid transparent;
  color: #4b7bbf;
  padding: 11px 14px;
  position: static;
  text-shadow: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 901; }

.header .primary .navbar .nav > .selected > a {
  color: #777; }

.header .primary .navbar .nav a > i {
  margin-right: 2px;
  opacity: .8;
  filter: alpha(opacity=80);
  text-align: center;
  width: 15px; }

/*
* content
*/
.container-fit {
  width: 800px; }

#main {
  padding: 80px 0; }

#main.no-padding {
  padding: 0; }

.page-header {
  border-bottom: 1px solid #e1e1e1;
  margin: 0 0 20px;
  padding: 0;
  background: #4b7bbf; }

.page-header .title {
  font-weight: normal;
  margin: 0;
  padding: 0;
  position: relative;
  color: #fff;
  font-size: 24px;
  height: 45px;
  vertical-align: middle;
  display: table-cell; }

.page-header .container {
  position: relative; }

.page-header .container:before {
  background: #1e1e1e;
  bottom: 0px;
  content: "";
  display: block;
  height: 1px;
  left: 15px;
  margin: 0 0 -1px;
  position: absolute;
  width: 40px; }

.recover-password {
  font-size: 12px;
  margin-top: 15px;
  display: inline-block; }

/*
* multistep
*/
.step-outter {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 20px; }

.step {
  background-color: #fff;
  border: 0 none;
  border-radius: 8px;
  /*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);*/
  box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 8px;
  padding: 2em 2em;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  position: relative; }

#validprofil .step:not(:first-of-type) {
  display: none; }

/*buttons*/
#validprofil .action-button {
  min-width: 100px;
  background: #204590;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px; }

#validprofil .action-button:hover,
#validprofil .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #204590; }

/*headings*/
.fs-title,
.fs-subtitle {
  text-align: center; }

.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px; }

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px; }

/*progressbar*/
#progressbar {
  padding-top: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  text-align: center;
  width: 100%;
  float: left; }

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.3%;
  float: left;
  position: relative; }

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto; }

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/ }

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; }

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #27AE60;
  color: white; }

.hidden-options {
  display: none; }

/*
* responsive
*/
/*
* home
*/
@media (max-width: 767px) {
  section.home .home-menu-inner {
    width: 100%; }
  .step-outter {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
    position: relative;
    box-sizing: border-box;
    padding: 0; } }
