/*
* home
*/
@media (max-width:767px){
	section.home .home-menu-inner{
		width:100%;
	}

	section.home .btn-block{
		
	}

	.step-outter{
		width:100%;
		margin:0 auto;
		overflow:visible;
		position:relative;
		box-sizing:border-box;
		padding:0;
	}
}